{% extends '@PassPlus/Admin/adminLayout.html.twig' %}

{% block content %}
    <h2 class="center-align">Status edit</h2>
    <div class="container">
        <div class="row">
            {{ form_start(edit_form) }}
            {{ form_start(edit_form) }}
            {{ form_errors(edit_form) }}
            {{ form_row(edit_form.name) }}
            {{ form_row(edit_form.description) }}
            {{ form_row(edit_form.color, {'attr':{'class':'browser-default'}}) }}
            {{ form_row(edit_form.activated) }}
            <button class="btn waves-effect waves-light" type="submit" name="action">Edit
                <i class="material-icons right">send</i>
            </button>
            {{ form_end(edit_form) }}
            <ul>
                <li>
                    <a href="{{ path('state_index') }}" class="btn">Back to the list</a>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Delete" class="btn red">
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
