{% extends '@JasderoPassePlat/Admin/adminLayout.html.twig' %}

{% block content %}
    <h2 class="center-align">Status edit</h2>
    <div class="container">
        <div class="row">
            {{ form_start(edit_form) }}
            {{ form_start(edit_form) }}
            {{ form_errors(edit_form) }}
            {{ form_row(edit_form.name) }}
            {{ form_row(edit_form.description) }}
            {{ form_row(edit_form.color, {'attr':{'class':'browser-default'}}) }}
            {{ form_row(edit_form.activated) }}
            <div class="col s12 iconsBlock center-align">
                <a href="{{ path('state_index') }}" class="iconAsLink" title="back to the list">
                    <button><i class="medium material-icons">skip_previous</i></button>
                </a>
                <button type="submit" class="confirmIcon" title="confirm"><i class="medium material-icons">done</i></button>
                {{ form_end(edit_form) }}
                {{ form_start(delete_form) }}
                <button type="submit" title="delete" class="deleteIcon"><i class="medium material-icons">delete_forever</i></button>
                {{ form_end(delete_form) }}
            </div>
        </div>
    </div>
{% endblock %}
