{% extends '@JasderoPassePlat/Admin/adminLayout.html.twig' %}

{% block content %}
    <h2 class="center-align">Statuses list</h2>
    <div class="container">
        <div class="row">

            <h4>Use your mouse to sort statuses by order of importance</h4>
            <table id="table-status" class="bordered">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Color</th>
                    <th>Activated</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for state in states %}
                    <tr id="{{ state.id }}">
                        <td><a href="{{ path('state_show', { 'id': state.id }) }}" class="btn">{{ state.id }}</a></td>
                        <td class="sorter">{{ state.name }}</td>
                        <td>{{ state.description }}</td>
                        <td class="{{ state.color }}">{{ state.color }}</td>
                        <td>{% if state.activated %}Yes{% else %}No{% endif %}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('state_edit', { 'id': state.id }) }}" class="btn indigo">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <ul>
                <li>
                    <a href="{{ path('state_new') }}" class="btn">Create a new status</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(function () {
            $.ajaxSetup(
                {
                    url: "{{ path('weight_change') }}",
                    type: "POST"
                }
            ),
                $('#table-status').rowSorter({
                    onDrop: function () {
                        var order = []
                        $('#table-status').find("tr").each(function () {
                            order.push($(this).attr('id'));
                        });
                        $.ajax({
                            data: {request: order}, success: function (rep) {
                                console.log(rep);
                            }
                        });
                    }
                })
        })
    </script>
{% endblock %}