{% extends '@JasderoPassePlat/Admin/adminLayout.html.twig' %}

{% block content %}
    <h2 class="center-align">Statuses list</h2>
    <div class="container">
        <div class="row center-align">

            <h4>Use your mouse to sort statuses by order of importance</h4>
            <table id="table-status" class="bordered">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Nb of products</th>
                    <th>Nb of orders</th>
                    <th>Color</th>
                    <th>Activated</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for state in states %}
                    <tr id="{{ state.id }}">
                        <td><a href="{{ path('state_show', { 'id': state.id }) }}" class="btn">{{ state.id }}</a></td>
                        <td class="sorter">{{ state.name }}</td>
                        <td>{{ state.description }}</td>
                        <td>
                            {# counting  products affected by this state#}
                            {% set nbProducts = 0 %}
                            {% for product in products if product.state.id == state.id %}
                                {% set nbProducts = nbProducts+1 %}
                            {% endfor %}
                            <a href="{{ path('products_by_status', {'id': state.id}) }}">{{ nbProducts }} / {{ totalProducts }}</a>
                        </td>
                        <td>
                            {# counting  orders affected by this state#}
                            {% set nbOrders = 0 %}
                            {% for order in orders if order.state.id == state.id %}
                                {% set nbOrders = nbOrders+1 %}
                            {% endfor %}
                            <a href="{{ path('orders_by_status', {'id':  state.id}) }}">{{ nbOrders }} / {{ totalOrders }}</a>
                        </td>
                        <td class="{{ state.color }}">{{ state.color }}</td>
                        <td>{% if state.activated %}Yes{% else %}No{% endif %}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('state_edit', { 'id': state.id }) }}" class="btn indigo">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <ul>
                <li>
                    <a href="{{ path('state_new') }}" class="iconAsLink" title="create a new status"><i class="medium material-icons">add_circle</i></a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(function () {
            $.ajaxSetup(
                {
                    url: "{{ path('weight_change') }}",
                    type: "POST"
                }
            ),
                $('#table-status').rowSorter({
                    onDrop: function () {
                        var order = [];
                        var token = '{{ token }}';
                        $('#table-status').find("tr").each(function () {
                            order.push($(this).attr('id'));
                        });
                        $.ajax({
                            data: {request: order, token: token}, success: function () {
                                location.reload(true);
                            }
                        });
                    }
                })
        })
    </script>
{% endblock %}