{% extends '@JasderoPassePlat/Admin/adminLayout.html.twig' %}

{% block content %}
    <h2 class="center-align">Status creation</h2>
    <div class="container">
        <div class="row">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.description) }}
            {{ form_row(form.color, {'attr':{'class':'browser-default'}}) }}
            {{ form_row(form.activated) }}
            <div class="col s12 center-align iconsBlock">
                <a href="{{ path('state_index') }}" title="back">
                    <button type="button" class="grey darken-3"><i class="medium material-icons">skip_previous</i></button>
                </a>
                <button type="submit" class="confirmIcon grey darken-3" title="confirm"><i class="medium material-icons">done</i></button>

            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
