{% extends '@JasderoPassePlat/Admin/adminLayout.html.twig' %}

{% block content %}
    <h2 class="center-align">Product edit</h2>
    <div class="container">
        <div class="row">
            {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <div class="col s12 center-align iconsBlock">
                <a href="{{ path('product_index') }}" class="iconAsLink" title="back">
                    <button class="grey darken-3"><i class="medium material-icons">skip_previous</i></button>
                </a>
                <button type="submit" class="confirmIcon grey darken-3" title="confirm"><i class="medium material-icons">done</i></button>
                {{ form_end(edit_form) }}
                {{ form_start(delete_form) }}
                <button type="submit" title="delete" class="deleteIcon grey darken-3"><i class="medium material-icons">delete_forever</i></button>
                {{ form_end(delete_form) }}
            </div>
        </div>
    </div>
{% endblock %}
