{% extends '@JasderoPassePlat/Admin/adminLayout.html.twig' %}

{% block content %}
    <h2 class="center-align">Product edit</h2>
    <div class="container">
        <div class="row">
            {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <button class="btn waves-effect waves-light" type="submit" name="action">Edit
                <i class="material-icons right">send</i>
            </button>
            {{ form_end(edit_form) }}

            <ul>
                <li>
                    <a href="{{ path('product_index') }}" class="btn">Back to the list</a>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Delete" class="btn red">
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
