{% extends '@JasderoPassePlat/Admin/adminLayout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <h4 class="center-align">Products list</h4>
            <div class="col s12">
                <table class="tablesorter responsive-table bordered" id="productstable">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Order</th>
                        <th>Pretax-price</th>
                        <th>Vat rate</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        <tr>
                            <td><a href="{{ path('product_show', { 'id': product.id }) }}" class="btn-floating center-align blue-grey darken-1">{{ product.id }}</a></td>
                            <td class="center-align">
                                <a href="{{ path('orders_show', {'id': product.orders.id}) }}" class="btn blue-grey darken-3">{{ product.orders.id }}</a>
                            </td>
                            <td>{{ product.pretaxPrice }}</td>
                            <td>{{ product.vatRate }}</td>
                            <td class="{{ product.state.color }}">{{ product.state.name }}</td>
                            <td class="center-align">
                                <a href="{{ path('product_edit', { 'id': product.id }) }}" class="btn grey darken-3" title="edit"><i class="material-icons">edit</i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% block pagination %}
                <div class="center-align">
                    <h3>{{ knp_pagination_render(products) }}</h3>
                </div>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(function () {
            $("#productstable").tablesorter();
        })
    </script>
{% endblock %}