{% extends '@JasderoPassePlat/Admin/adminLayout.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
{% endblock %}
{% block content %}
    <h2 class="center-align">Products list</h2>
    <div class="container">
        <div class="row">
            <table class="bordered tablesorter" id="productstable">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Order</th>
                    <th>Pretaxprice</th>
                    <th>Vatrate</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <td><a href="{{ path('product_show', { 'id': product.id }) }}" class="btn">{{ product.id }}</a></td>
                        <td><a href="{{ path('orders_show', {'id': product.orders.id}) }}">{{ product.orders.id}}</a></td>
                        <td>{{ product.pretaxPrice }}</td>
                        <td>{{ product.vatRate }}</td>
                        <td class="{{ product.state.color }}">{{ product.state.name }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('product_edit', { 'id': product.id }) }}" class="btn indigo">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <ul>
                <li>
                    <a href="{{ path('product_new') }}" class="btn">Create a new product</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(function () {
            $("#productstable").tablesorter();
        })
    </script>
{% endblock %}