{% extends '@JasderoPassePlat/Admin/adminLayout.html.twig' %}

{% block content %}
    <div class="container">
        <h2>Product Detail </h2>
        <div class="row">
            <table>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Order</th>
                    <th>Description</th>
                    <th>Pretax Price</th>
                    <th>Vat Rate</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.catalog.name }}</td>
                    <td><a href="{{ path('orders_show', {'id': product.orders.id}) }}">{{ product.orders.id }}</a></td>
                    <td>{{ product.catalog.description }}</td>
                    <td>{{ product.pretaxPrice }}</td>
                    <td>{{ product.vatRate }}</td>
                    <td class="{{ product.state.color }}">{{ product.state.name }}</td>
                </tr>
                </tbody>
            </table>

            <div class="iconsBlock col s12 center-align">
                <a href="{{ path('orders_index') }}" class="iconAsLink" title="back to the list of products">
                    <button class="grey darken-3"><i class="medium material-icons">fast_rewind</i></button>
                </a>
                <a href="{{ path('orders_show', {'id': product.orders.id}) }}" class="iconAsLink"
                   title="back to this order">
                    <button class="grey darken-3"><i class="medium material-icons">skip_previous</i></button>
                </a>
                <a href="{{ path('product_edit', { 'id': product.id }) }}" class="iconAsLink">
                    <button class="grey darken-3"><i class="medium material-icons">edit</i></button>
                </a>
                {{ form_start(delete_form) }}
                <button type="submit" title="delete" class="deleteIcon grey darken-3"><i class="medium material-icons">delete_forever</i></button>
                {{ form_end(delete_form) }}
            </div>
        </div>
    </div>
{% endblock %}
