{% extends '@JasderoPassePlat/Admin/adminLayout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row center-align">
            <h2>Vats list</h2>
            <table>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Rate</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for vat in vats %}
                    <tr>
                        <td><a href="{{ path('vat_show', { 'id': vat.id }) }}" class="btn">{{ vat.id }}</a></td>
                        <td>{{ vat.rate }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('vat_edit', { 'id': vat.id }) }}" class="btn indigo">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <ul>
                <li>
                    <a href="{{ path('vat_new') }}" class="iconAsLink" title="create a new vat"><i class="medium material-icons">add_circle</i></a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
