{% extends '@JasderoPassePlat/main/adminLayout.html.twig' %}

{% block passe_plat_content %}
    <div class="container">
        <div class="row center-block">
            <h5 class="center-align">Create a new {{ container }}</h5>

            {# form section #}
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="col s12 offset-m3 m6 left-align">
                {{ form_row(form.catalogs) }}
            </div>
            <div class="col s12">
                {{ form_row(form.user) }}
            </div>
            <div class="col s12 charactersCount">
                {{ form_label(form.comments, 'comment (200 characters max)') }}
                {{ form_widget(form.comments) }}
                <p class="liveCount center-align blue-text"></p>
            </div>
            {# buttons section #}
            <div class="center-align col s12 iconsBlock">
                <a href="{{ path('orders_index') }}" title="back">
                    <button type="button" class="btn-floating grey darken-3"><i class="material-icons">skip_previous</i>
                    </button>
                </a>
                <button type="submit" class="btn-floating grey darken-3" title="confirm"><i class="material-icons">done</i></button>
            </div>
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}
{% block passe_plat_javascripts %}
    <script>
        $(function () {

            var fieldToCount = $('.charactersCount');
            var fieldToDisplay  = $('.liveCount');
            $(document).on('keyup', fieldToCount, (function (event) {
                var remainingChars = 200 - ($(event.target).val().length);
                if (remainingChars >= 0) {
                    fieldToDisplay.text(remainingChars + ' characters left');
                } else {
                    fieldToDisplay.text('Too many characters !');
                }
            }))
        })
    </script>
{% endblock %}
