{% extends '@JasderoPassePlat/Admin/adminLayout.html.twig' %}

{% block content %}
    <div class="container">
        <h2 class="center-align">Orders list</h2>
        <div class="row">
            <div class="col s12">
                <table class="bordered">
                    <thead>
                    <tr>
                        <th>Id order</th>
                        <th>Created on</th>
                        <th>Last update</th>
                        <th>Product Id</th>
                        <th>Product</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    {% for order in orders %}
                        <tbody>
                        <tr>
                            <td rowspan="0" class="center-align {{ order.state.color }}"><a
                                        href="{{ path('orders_show', { 'id': order.id }) }}"
                                        title="see detail"><h3 style="color: black">{{ order.id }}</h3></a>
                            </td>
                            <td rowspan="0">
                                {{ order.dateCreation|date('d-m-Y') }}
                            </td>
                            <td rowspan="0">
                                {{ order.lastUpdate|date('d-m-Y') }}
                            </td>
                        </tr>
                        {% for product in products if product.orders.id == order.id %}
                            <tr>
                                <td>
                                    <a href="{{ path('product_show', {'id':product.id}) }}"
                                       title="see detail" >{{ product.id }}</a>
                                </td>
                                <td>
                                    {{ product.catalog.name }}
                                </td>
                                <td class="{{ product.state.color }}">
                                    {{ product.state.name }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    {% endfor %}
                </table>

                <div class="center-align">
                    <h3>{{ knp_pagination_render(orders) }}</h3>
                </div>
                <div class="center-align iconsBlock">
                    <a href="{{ path('order_site_new') }}" class="addIcon" title="create a new order"><i
                                class="medium material-icons">add_circle</i></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
