{% extends '@PassPlus/Admin/adminLayout.html.twig' %}

{% block content %}
    <div class="container">
        <h2>Orders list</h2>
        <div class="row">
            <table class="bordered">
                <thead>
                <tr>
                    <th>Id order</th>
                    <th>Id products</th>
                    <th>Products</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                    <tr>
                        <td class="center-align" style="background-color: {{ order.state.color }}"><a href="{{ path('orders_show', { 'id': order.id }) }}"
                               title="see detail"><h3>{{ order.id }}</h3></a></td>
                        <td>
                            <ul>
                                {% for product in products if product.orders.id == order.id %}
                                    <li><a href="{{ path('product_show', {'id':product.id}) }}"
                                           title="see detail">{{ product.id }}</a>
                                    </li>
                                    <hr>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <ul>
                                {% for product in products if product.orders.id == order.id %}
                                    <li>{{ product.catalog.name }}</li>
                                    <hr>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <ul>
                                {% for product in products if product.orders.id == order.id %}
                                    <li style="background-color: {{ product.state.color }}">{{ product.state.name }}</li>
                                    <hr>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <ul>
            <li>
                <a href="{{ path('orders_new') }}">Create a new order</a>
            </li>
        </ul>
    </div>
{% endblock %}
