{% extends '@JasderoPassePlat/Admin/adminLayout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row center-block">
            <h2 class="center-align">Create a new Order</h2>
            <div class="col s10 m5 offset-m3 left-align">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_row(form.catalogs) }}
                {{ form_row(form.user) }}
                <div class="center-align">
                    <button class="btn waves-effect waves-light grey darken-3" type="submit" name="action">Create
                        <i class="material-icons right">send</i>
                    </button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
