{% extends '@JasderoPassePlat/Admin/adminLayout.html.twig' %}

{% block content %}
    <h2 class="center-align">Order detail</h2>
    <div class="container">
        <div class="row">
            <table>
                <thead>
                <tr>
                    <th>Last update</th>
                    <th>Date creation</th>
                    <th>Ordered By</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{% if order.lastUpdate %}{{ order.lastUpdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if order.dateCreation %}{{ order.dateCreation|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ order.user.username }}</td>
                    <td class="{{ order.state.color }}">{{ order.state.name}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <table>
                <thead>
                <tr>
                    <th>Product Id</th>
                    <th>Product Name</th>
                    <th>Product description</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <td><a href="{{ path('product_show', {id : product.id}) }}">{{ product.id }}</a></td>
                        <td>{{ product.catalog.name }}</td>
                        <td>{{ product.catalog.description }}</td>
                        {% if product.state %}
                            <td class="{{ product.state.color }}">{{ product.state.name }}</td>
                        {% endif %}
                        <td>
                            <a href="{{ path('product_edit', { 'id': product.id }) }}" class="btn blue">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <ul>
            <li>
                <a href="{{ path('orders_index') }}" class="btn">Back to the list</a>
            </li>
            <li>
                <a href="{{ path('orders_edit', { 'id': order.id }) }}" class="btn indigo">Edit</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn red">
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>
{% endblock %}
